{% extends "base.html" %}
{% load static %}
{% block body %}
<div class="container">
    Olá Mundo !!!!
    <div class="row">
        <div class="col-md-12">
            {% for i in postlist %}
            <a href="{% url 'home' slug=i.slug %}"> {{ i }} </a> <br>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}